@import '../lib/tooltip.styl'

.hoverme {
  tooltip(".tooltip")
}

.hoverme-left {
  tooltip(".tooltip", $alignment: 'left')
}

.hoverme-right {
  tooltip(".tooltip", $alignment: 'right')
}

.hoverme-full {
  tooltip(".tooltip", $alignment: 'full')
}
