tooltip-skin-box(
                                $selector,
                                $alignment = 'center',
                                $padding = 0.3em .75em,
                                $border = 1px solid #ccc,
                                $background = white,
                                $box-shadow = 0 3px 10px 0 rgba(0,0,0,.4),
                                $yOffset = 0.5em) {
  {$selector} {
    padding: $padding;
    border: $border;
    background: $background;
    box-shadow: $box-shadow;
    margin-bottom: $yOffset;
  }
}

tooltip-skin-arrow(
                    $selector,
                    $alignment = 'center',
                    $padding = 0.3em .75em,
                    $border = 1px solid #ccc,
                    $background = white,
                    $box-shadow = 0 3px 10px 0 rgba(0,0,0,.4),
                    $border-color = #ccc,
                    $border-width = 2px,
                    $size = 7px,
                    $yOffset = 0.5em) {
  tooltip-skin-box(
    $selector,
    $alignment: $alignment,
    $padding: $padding,
    $border: $border,
    $background: $background,
    $box-shadow: $box-shadow,
    $yOffset: $yOffset)
  {$selector} {
    &:before, &:after {
      position: absolute;
      top: 100%;
      if ($alignment == 'left'){
        left: $size * 3;
        transform: translateX(-50%);
      } else if ($alignment == 'center' || $alignment == 'full' || $alignment == 'fullright') {
        left: 50%;
        transform: translateX(-50%);
      } else if ($alignment == 'right') {
        right: $size * 3;
        transform: translateX(50%);
      } else {
        error('bad type for $alignment');
      }
      content: "";
    }
    &:after {
      z-index: 2;
      border: $size solid transparent;
      border-top-color: white;
      border-bottom: none;
    }
    &:before {
      z-index: 1;
      border: ($size + $border-width) solid transparent;
      border-top-color: $border-color;
      border-bottom: none;
    }
  }
}
