transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

tooltip($selector, $mouseOver = false, $alignment = 'center') {
  error('bad type for $selector') unless $selector is a 'string'

  position: relative;
  display: inline-block;
  & {$selector} {
    position: absolute;
    bottom: 100%;
    if ($alignment == 'left'){
      left: 0%;
    } else if ($alignment == 'center') {
      left: 50%;
    } else if ($alignment == 'right') {
      right: 0%;
    } else {
      error('bad type for $alignment');
    }
    visibility: hidden;
    white-space: nowrap;
    if ($alignment == 'center') {
      transform: translateX(-50%);
    }
    unless ($mouseOver) {
      pointer-events: none;
    }
  }
  &:hover, &:focus {
    {$selector} {
      visibility: visible;
    }
  }
}
