transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

tooltip($selector) {
  error('bad type for $selector') unless $selector is a 'string'

  position: relative;
  display: inline-block;
  & {$selector} {
    position: absolute;
    bottom: 100%;
    left: 50%;
    visibility: hidden;
    white-space: nowrap;
    transform: translateX(-50%);
  }
  &:hover, &:focus {
    {$selector} {
      visibility: visible;
    }
  }
}
