tooltip($selector) {
  position: relative;
  & {$selector} {
    position: absolute;
    bottom: 100%;
    visibility: hidden;
  }
  &:hover, &:focus {
    {$selector} {
      visibility: visible;
    }
  }
}
