body {
  width: 900px;
  margin: 0 auto;
}
.hoverme {
  position: relative;
  display: inline-block;
}
.hoverme .tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  visibility: hidden;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.hoverme:hover .tooltip,
.hoverme:focus .tooltip {
  visibility: visible;
}
.hoverme .tooltip {
  padding: 0.3em 0.75em;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.4);
}
.hoverme .tooltip:before,
.hoverme .tooltip:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hoverme .tooltip:after {
  z-index: 2;
  border: 7px solid transparent;
  border-top-color: #fff;
  border-bottom: none;
}
.hoverme .tooltip:before {
  z-index: 1;
  border: 9px solid transparent;
  border-top-color: #ccc;
  border-bottom: none;
}
