@import '../lib/tooltip.styl'
@import '../lib/tooltip-skins.styl'

body {
  width: 900px;
  margin: 0 auto;
}

.hoverme {
  tooltip(".tooltip")
}

.hoverme.skin-box {
  tooltip-skin-basic_floating_box(".tooltip")
}

.hoverme.skin-arrow {
  tooltip-skin-arrow(".tooltip")
}
