@import '../lib/tooltip.styl'
@import '../lib/tooltip-skins.styl'

body {
  width: 900px;
  margin: 0 auto;
}

.hoverme {
  tooltip(".tooltip")
  &.skin-box {
    tooltip-skin-box(".tooltip")
  }
  &.skin-arrow {
    tooltip-skin-arrow(".tooltip")
  }
}

.hoverme-left {
  tooltip(".tooltip", $alignment: left)
  &.skin-box {
    tooltip-skin-box(".tooltip", $alignment: left)
  }
  &.skin-arrow {
    tooltip-skin-arrow(".tooltip", $alignment: left)
  }
}

.hoverme-right {
  tooltip(".tooltip", $alignment: right)
  &.skin-box {
    tooltip-skin-box(".tooltip", $alignment: right)
  }
  &.skin-arrow {
    tooltip-skin-arrow(".tooltip", $alignment: right)
  }
}

.hoverme-full {
  tooltip(".tooltip", $alignment: full)
  &.skin-box {
    tooltip-skin-box(".tooltip", $alignment: full)
  }
  &.skin-arrow {
    tooltip-skin-arrow(".tooltip", $alignment: full)
  }
}

.hoverme-fullright {
  tooltip(".tooltip", $alignment: fullright)
  &.skin-box {
    tooltip-skin-box(".tooltip", $alignment: fullright)
  }
  &.skin-arrow {
    tooltip-skin-arrow(".tooltip", $alignment: fullright)
  }
}
